
 

<div class="contianer">
    <header style="background-color:rgba(0, 0,0, 0.5);margin-bottom: 0%;" class="jumbotron">
      <div class="contianer">
        <p style="text-align: center;">TradeMark E-Learn 2020</p>
</div>  
</header>
</div>

</body>
</html>